[Unit]
Description=ploTTY daemon
After=network.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
Environment=PLOTTY_CONFIG=%h/.config/plotty/config.yaml
ExecStart=/usr/bin/plottyd
Restart=on-failure

[Install]
WantedBy=default.target
